.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.toolbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #46494e;
}

.toolbar > * {
  margin: 0.25rem;
}

.tool-separator {
  flex-grow: 1;
  width: 12px;
}

.canvas {
  width: 100%;
  flex-grow: 1;
  overflow: scroll;
}

.canvas.tool-default {
  cursor: default;
}

.canvas.tool-move {
  cursor: grab;
}

.canvas.tool-draw {
  cursor: default;
}

.canvas.tool-erase {
  cursor: default;
}

.canvas.tool-note {
  cursor: default;
}

.canvas.tool-image {
  cursor: default;
}

.canvas.tool-comment {
  cursor: default;
}

.canvas-frame {
  background-color: white;
  margin: 8px; /* Do NOT change this (or change the BOARD_MARGIN in App.js as well) */
}

.App-link {
  color: #61dafb;
}

.modalbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalbuttons > * {
  margin: 0.25rem;
}


/* Objects */

.board-obj {
  user-select: default;
}

.sticky-note {
  background-color: rgb(255, 232, 23);
  color: black;
  font-size: 18px;
  padding: 8px;
  min-width: 150px;
  max-width: 150px;
  min-height: 50px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.15);
}

.selected {
  box-shadow: 0 3px 10px rgba(255, 115, 0, 0.15) !important;
}

.cavas-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.comments {
  color: black;
  position: fixed;
  bottom: 8px;
  right: 16px;
  z-index: 999;
  padding: 16px;
  background-color: rgb(233, 233, 233);
  min-width: 20%;
  max-width: 20%;
  min-height: calc(100% - 124px);
  max-height: calc(100% - 124px);
  font-size: 12px;
}

.comments > h2 {
  margin-top: 0;
}

.comment {
  width: 90%;
  margin: 0 auto 8px auto;
  padding: 8px;
  background-color: rgb(250, 250, 250);
  border-radius: 4px 4px;
}

.comment-timestamp {
  width: 100%;
  text-align: right;
}

.comment-text {
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.ReactModal__Overlay {
  z-index: 9999;
}
