.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.toolbar {
  width: 100%;
  background-color: #46494e;
}

.toolbar > * {
  margin: 0.25rem;
}

.canvas {
  width: 100%;
  flex-grow: 1;
  overflow: scroll;
}

.canvas.tool-default {
  cursor: default;
}

.canvas.tool-move {
  cursor: grab;
}

.canvas.tool-draw {
  cursor: default;
}

.canvas.tool-erase {
  cursor: default;
}

.canvas.tool-note {
  cursor: default;
}

.canvas.tool-image {
  cursor: default;
}

.canvas.tool-comment {
  cursor: default;
}

.canvas-frame {
  background-color: white;
  margin: 8px; /* Do NOT change this (or change the BOARD_MARGIN in App.js as well) */
}

.App-link {
  color: #61dafb;
}

.modalbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalbuttons > * {
  margin: 0.25rem;
}


/* Objects */

.board-obj {
  user-select: default;
}

.sticky-note {
  background-color: rgb(255, 232, 23);
  color: black;
  font-size: 18px;
  padding: 8px;
  min-width: 150px;
  max-width: 150px;
  min-height: 50px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.15);
}